<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hv.e_crimereport">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/ecr_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECrimeReport">
        <activity
            android:name=".services.save_people.Victim_support"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".services.criminal_service.police_report_enquiry"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".services.criminal_service.info_provide"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AnonymousReport"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".services.save_people.UnknownAccident"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".services.criminal_service.Report_crime"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".services.traffic_service.fine_payment"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".services.save_people.Trafic_accident"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".services.save_people.sos"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Appintro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>